# python
__pycache__/
*.py[cod]
*.pyd
.ipynb_checkpoints/

# env & IDE
.venv/
venv/
.env
.env.*
.vscode/

# data & artifacts (keep small CSVs, ignore zips)
data/*.zip

# deployment artifacts (if any)
deployment/
ngrok*.yml
ngrok_*
